<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PokeDex</title>
    <link rel="shortcut icon" href="https://1.bp.blogspot.com/_KBmmkCxTLY8/TMBfCU6xtBI/AAAAAAAAAFI/Ia5W4Suucww/s1600/kawax-pokeball-3097.png">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <nav>
        <div>
            <img src="http://24.media.tumblr.com/053d3909aa3f9bcb112cbab9a98163a2/tumblr_mr88ogPbzG1s7cyfgo1_400.gif" class="img-fluid" alt="Fundo-Pokemon">
        </div>
        <ul>
            <li>
                <a href="/">
                    <h1> PokeDex</h1>
                </a>
            </li>
            
            <li><a href="#">Inicio</a>
            </li>
            <li>
                <a href="#cards"> pokemons</a>
            </li>
            <li>
                <a href="#cadastro">#Cadastro</a>
            </li>
        </ul>
    </nav>

    <header>
        <article>
            <h1>Pokedex</h1>
            <p>Aqui você poderá conhecer e cadastrar novos pokemons</p>
        </article>

        <img src="https://i2.wp.com/sonharsempredesistirnunca.com.br/wp-content/uploads/2016/08/pokemon_go14.jpg?resize=367%2C651" class="img-fluid gif" alt="Banner">
    </header>

<main>

    <section id="cards">

            <% listaPokemons.forEach((pokemon) => { %> 
                <div class="card" >
                    <img src="<%= pokemon.imagem%>" alt="">

                    <h2><%= pokemon.nome%></h2>

                    <p class="descricao"><%= pokemon.descricao%></p>

                    <p>Tipo: <%= pokemon.tipo%></p>
                
                
                </div>
            <% }) %>


    </section>

    <section id="cadastro">
        <h2>Adicione seu pokemon</h2>
            

        <form action="/create" method="POST">
            
                <label for="numero">Numero: </label>
                <input type="number" name="numero" id="numero" placeholder="Digite o Nº" required>
            
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Digite o nome do pokemon" required>
            
                <label for="altura">Altura: </label>
                <input type="number" name="numero" id="numero" placeholder="Digite a altura em m:cm" required>
                
                
                <label for="peso">Peso: </label>
                <input type="number" name="numero" id="numero" placeholder="Digite o peso" required>
                
                
                <label for="categoria">Categoria: </label>
                <input type="text" name="nome" id="categoria" placeholder="Digite a categoria" required>
                
                
                <label for="tipo">Tipo: </label>
                <input type="text" name="nome" id="tipo" placeholder="Digite o tipo do pokemon" required>
                
                
                <label for="imagem">Imagem: </label>
                <input type="imagem" name="imagem" id="imagem" placeholder="Adicione a imagem do pokemon" required>
                
                
                <label for="descricao">Descrição: </label>
                <input type="text" name="nome" id="descricao" placeholder="Descreva esse pokemon" required>
                
                
                <label for="habilidade">Habilidade: </label>
                <input type="text" name="habilidade" id="habilidade" placeholder="Digite a habilidade" required>
                
                
                <button id="btnCadastrar" type="submit">Cadastrar</button>
                
            </form>
        
</main>

    <footer>
        <p>
            <The future is blue /> <a href="https://blueedtech.com.br/" target="_blank"> BlueEdtech</a>
        </p>
    </footer>
</body>

</html>