@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
}
  
  html,
  body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
  }
  
  nav {
    position: fixed;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    background:black;
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
    width: 100%;
    flex-wrap: wrap;
  }
  
  nav div img {
    width: 20rem;
    height: 7rem;
   
}
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(243, 61, 61);
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
    
  }
  
  nav ul li a:hover {
    color: rgb(12, 11, 12);
  }

  
  header {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffef39dc;
    padding: 3rem;
    width: 100%;
  
  }
  
  header article h1 {
    color: rgb(230, 24, 24);
    font-size: 5rem;
    
  }
  
  header article p {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-left: 4rem;
  }
  
  header img {
    width: 100%;
    margin: 0 20rem;
  }
  
  
  section#cards {
    display: flex;
    justify-content: space-evenly; /*espaço entre eles*/ 
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 5rem;
    background-color: #000;
    padding: 3rem;
     
  }
  

  section#cards div.card{
    width: 10rem;
    margin-bottom: 2rem 2rem 2rem 2rem;
    margin-top: 2rem;
    padding: 2rem;
    columns: 5rem;
    background-color:#fff;
  }
  
  section#cards div.card img{
    width: 100%; /*largura da imagem em 100%, ele vai ocupar 100% de 20rem que é o espaço do card, ficando responsiva*/
    margin:1rem 1rem 1rem 1rem;/*margem 0 em cima e em baixo e auto esquerda e direita*/ 
  }
  section#cards div.card h2{
    margin-bottom: 1rem;
  }

  section#cards div.card p.descricao{
    padding-bottom: 1rem;
  }
  .card {
     width: 5rem; /*largura do card*/ 
    box-shadow: 1rem 1rem 1rem 1rem #00000020;
    padding: 5rem;
    transition: transform .3s ease-in;/*uma trnsição suave somente no transfor linha 102 de 0.3s suave-na entrada*/ 
    color: rgb(13, 95, 24);
  }
  
  
  section#cards div.card h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  .card:hover {
    transform: scale(1.1);
  /*para aumentar a escala de acordo com o passar do mouse*/
}

section#cadastro{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  width: 100%;
  text-align: center;
  background-color: red;
  
}


section#cadastro h2{
  text-align: center;
  color: rgb(39, 18, 228);
  padding-bottom: 3rem;
  font-size: 2.5rem;
  width: 100%;
  
}
section#cadastro form{
    width: 50%;
    text-align: center;
   padding: 5rem;

  
   
  }
  
  section#cadastro form input{
    width: 50%;
    font-size: .7rem;
    outline: none;
    border: solid 1px rgb(197, 197, 197);
    padding-bottom: 1rem;

      margin-top: 0.5rem;
      margin-bottom: 1rem;
  
}


section#cadastro form label{
   
    color: rgb(0, 0, 0);
    display: flex;
}

section#cadastro form button{
    padding: .6rem;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    width: 70%;
    font-size: 1rem;
    background-color: rgb(251, 255, 0);
    border: solid 5px rgb(19, 32, 211);
    color: rgb(19, 32, 211);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
    font-weight: 600;
}

section#cadastro form button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(23,120,117);
    transform: scale(1.1);
}

  footer {
    text-align: center;
    background-color: #000;
  }
  
  footer p {
    font-size: 1rem;
    font-weight: bold;
  }
  
  footer p a {
    text-decoration: none;
    color: #3359ec;
    transition: 0.5s;
  }
  
  footer p a:hover {
    color: rgb(255, 68, 230);
  }


.area-visivel span{
    color: #666;
    display: none;
}
.caixa{
    border: solid 1px #666;
    padding: 5px 10px;
    margin: 40px;
}

/*min-width responsividade para maior que 900px*/
@media screen and (min-width: 900px){
    .dois{
        background-color: orange;
    }
    span.px900{
        display: inline-block;
    }
}
/*max-width*/
@media screen and (max-width: 600px){
    .um{
        background: pink;;
    }
    span.px600{
        display: inline-block;
    }
}

/*min-width & max-width*/
@media screen and (min-width: 600px) and (max-width: 900px){
    .tres{
        background: blue;


    }
    span.px600-900{
        display: inline-block;
    }
}
/*max device width*/
@media screen and (max-device-width: 480px){
    .iphone{
        background: #ccc;;
    }
}
  @media screen and (max-device-width: 280px) {
body {
  flex-flow: column wrap;
}

img{
  width: 40%;
  align-items: center;
  justify-content: center;
}
  }

